# Hugeicons Pro is served from Hugeicons' private registry. Only the registry is
# set here; the licence token is per-person and must never be committed. Put it
# in your user-level ~/.npmrc:
#   //npm.hugeicons.com/:_authToken=<your licence key>
@hugeicons-pro:registry=https://npm.hugeicons.com/
